<div class="photo-gallery">
  <div *ngFor="let photo of getCurrentPagePhotos()" class="gallery-item" (mouseenter)="showDescription = true" (mouseleave)="showDescription = false">
    <img [src]="'http://localhost:4000/' + photo.imagePath" alt="Foto">
    <div class="description" *ngIf="showDescription">
      <div class="description-content">
        <p>{{photo.description}}</p>
        <i class="fas fa-edit"></i>
      </div>
    </div>
  </div>
</div>

<div class="pagination-container">
  <div class="pagination">
    <button *ngFor="let pageNumber of getPageNumbers()" (click)="onPageChange(pageNumber)" [class.active]="pageNumber === currentPage" class="page-number">
      {{ pageNumber }}
    </button>
  </div>
</div>